@media screen and (max-width: 600px) {
  body p, body li {
    font-size: 0.8rem !important; }
  body .navbar {
    height: auto; }
  body .aoir-logo .aoir-img {
    height: auto !important;
    width: 80%; }
  body .OrganizedBy .logos {
    width: 100%;
    display: block;
    text-align: center; }
  body .OrganizedBy .logo {
    height: 6rem;
    margin-bottom: 2rem; }
  .form-iframe {
    display: none; }
  .form-link {
    display: block !important;
    margin-bottom: 2rem; } }

body {
  background: #FFF8F0 !important; }
  body .aoir-logo {
    padding: 0 0 0 5rem; }
    body .aoir-logo .aoir-img {
      height: 11rem;
      float: left; }
    body .aoir-logo .aoir-text-container {
      padding: 1.2rem 0 0 0; }
    body .aoir-logo h2 {
      padding: 0;
      margin: 0;
      text-align: left;
      font-family: "montserratreg";
      text-transform: uppercase;
      font-size: 2rem; }
  body .main-titles h3 {
    font-size: 3rem; }
  body .main-titles h4 {
    font-size: 2rem; }
  body .main-titles h5 {
    font-size: 1.5rem; }
  body .main-titles h1, body .main-titles h2, body .main-titles h3, body .main-titles h4, body .main-titles h5 {
    color: #FFF8F0; }
  body h1, body h2, body h3, body h4, body h5 {
    text-align: center;
    color: #4f0505; }
  body h1, body h2 {
    font-family: "montserratxbold";
    text-transform: none;
    padding-bottom: 1rem; }
  body h3, body h4 {
    font-family: "montserratbold"; }
  body h5, body p, body li {
    font-family: "montserratreg"; }
  body p {
    font-size: 1rem; }
  body .col-md-12 {
    padding: 0 1.5rem 0 1.5rem; }
  body .notebook {
    background: white;
    padding: 3rem; }
    body .notebook ul {
      padding-left: 1rem; }
      body .notebook ul li {
        list-style: circle; }
    body .notebook h5 {
      text-align: left; }

.navbar {
  height: 8rem; }

.navbar-collapse .navbar-nav .nav-link {
  color: #4f0505; }
  .navbar-collapse .navbar-nav .nav-link:hover {
    color: #a07777; }

.head-title {
  padding-top: 2rem; }

.OrganizedBy .logo {
  padding: 0 2rem 0 2rem; }

.form-link {
  display: none; }
