body {
  background: #f9d4af !important; }
  body h1, body h2, body h3, body h4, body h5, body p {
    font-family: "montserratbold"; }

.navbar {
  height: 8rem; }

.navbar-collapse .navbar-nav .nav-link {
  color: #4f0505; }
  .navbar-collapse .navbar-nav .nav-link:hover {
    color: #a07777; }

.head-title {
  padding-top: 2rem; }
