$blue: #313270;
$maroon: #4f0505;
$brick-red: #763131;
$dusty-rose: #a07777;
$cream: #f9d4af;
$floral-white: #FFF8F0;

$shit-pink: #ff4a67;
$shit-pink2: #ff4d79;

@media screen and (max-width: 800px) {
	body {
	
		p, li {
			font-size: 0.8rem !important;
		}
	
		.navbar {
			height: auto;
		}
		
		.aoir-logo {
			.aoir-img {
				height: auto !important;
				width: 80%;
			}
		}
		
		.OrganizedBy {
			.logos {
				width: 100%;
				display: block;
				text-align: center;
			}
			
			.logo {
				height: 6rem;
				margin-bottom: 2rem;
			}
		}
		
		section#programme {
			.keynote-panel {
				padding: 0 1rem 0 1rem;
			}
	
			.full-programme {
				padding: 0 1rem 0 1rem;
			}
			
			.keynote-role h5 {
				text-align: center; 
			}
			
			.keynote-img {
				margin-bottom: 1.5rem;
			}
			
			thead th, tbody tr {
				font-size: 1rem;
			}
		}
	}
	
	.about-content .notebook {
		padding: 0.5rem 2rem 0.5rem 2rem;
	}
	
	.form-iframe {
		display: none;
	}
	
	.form-link {
		display: block !important; 
		margin-bottom: 2rem;
	}
}

body {
	background: $floral-white !important;
	align-content: center;
		
	.hero-area-bg {
		height: 37rem;
		
		.btn {
			background: $floral-white;
			color: $brick-red;
			
			&:hover {
				background: $cream;
			}
		}
	}
	
	.aoir-logo {
	
		padding: 0 0 0 5rem;
	
		.aoir-img {
			height: 9rem;
			float: left; 
		}
		
		.aoir-text-container {
			padding: 1.2rem 0 0 0;
		}
		
		h2 {
			padding: 0;
			margin: 0;
			text-align: left;
			font-family: "montserratreg";
			text-transform: uppercase;
			font-size: 2rem;
		}
	}
	
	.main-titles {
		
		h3 {
			font-size: 3rem;
		}
		
		h4 {
			font-size: 2rem;
		}
		
		h5 {
			font-size: 1.5rem;
		}
	
		h1, h2, h3, h4, h5 {
			color: $floral-white;
		}
	}

	h1, h2, h3, h4, h5 {
		text-align: center;
		color: $maroon;
	}
	
	h1, h2 {
		font-family: "montserratxbold";
		text-transform: none;
		padding-bottom: 1rem;
	}
	
	h3, h4 {
		font-family: "montserratbold";
	}
	
	h5, p, li {
		font-family: "montserratreg";
	}
	
	p {
		font-size: 1rem;
	}
		
	.col-md-12 {
		padding: 0 1.5rem 0 1.5rem;
	}
	
	.OrganizedBy 
	{				
		text-align: center;
		padding-top: 5rem;
		
		h5 {
			margin-bottom: 2rem;
		}
		
		.logo {
			padding: 0 2rem 0 2rem;
			width: auto;
			height: 10rem;
		}
	}
	
	.notebook {
		background: white;
		padding: 3rem;
		
		ul {
		
		padding-left: 1rem;
			li {
				list-style: circle; 
			}
		}
		
		h5 {
			text-align: left; 
		}
	}
	
	table {
        width: 100%;
        border-collapse: collapse;
		margin-top: 20px;
		font-size: 0.8rem;
		
		th, td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		th {
			background-color: $brick-red;
		}
		
		.panel {
			font-size: 1.2rem;
			
			.subtitle {
				margin: 0;
			}
		}
		
		.break {	
			background-color: $dusty-rose;
		}
		
		thead {
			color: white;
		}
    }
}

.navbar {
	height: auto;
}

.navbar-collapse .navbar-nav .nav-link {
	color: $maroon;
	padding-left: 1.5rem;
	
	&:hover {
		color: $dusty-rose; 
	}
}

.head-title {
	padding-top: 2rem;
}

.form-link {
	display: none;
}

section#submit {
	.form-iframe {
		height: 140rem;
	}
}

section#contact {
	text-align: center;
	margin-bottom: 2rem;
}

section#programme {
	.keynote-panel {
		padding: 6rem 7rem 0rem 7rem;
	}
	
	.full-programme {
		padding: 6rem 5rem 0 5rem;
	}
	
	.programme-table .panel-time {
		width: 20%;
	}
}

.keynote-members {
	.keynote-member {
		margin: 2rem 0 2rem 0;
		min-height: 15rem;
		
		p {
			font-size: 0.8rem;
		}
		
		.keynote-role {
			padding-top: 1rem;
		}
	}
	
	.keynote-member-left {
		.keynote-bio p {
			text-align: left;
		}
	
		.keynote-role h5, h6 {
			text-align: left; 
		}
	}
	
	.keynote-member-right {
		.keynote-bio p {
			text-align: right;
		}
	
		.keynote-role h5, h6 {
			text-align: right; 
		}
	}
}

.keynote-member {
	.keynote-img {
		width: 15rem;
		clip-path: circle();
		margin: 0 2rem 0 2rem; 
	}
	
	&.keynote-member-left .keynote-img {
		float: left;
	}

	&.keynote-member-right .keynote-img {
		float: right;
	}
}

